html,
body {
  background-image: url("../hos.jpg");
  height: 100%;
  background-size: cover;
  overflow-y: auto;  
}

header {
    padding: 1em;
    background-color: #005BAA;
}
#appointmentsTable thead{
  background-color: #1d2124;
  border-radius: 15%;
}

#appointmentsTable thead th{
  color: white;
  font-size: 10pt;
}

#appointmentsTable tbody tr{
  background-color: #c8fffa;
  border-radius: 15%;
  opacity: 0.7;
}

#appointmentsTable tbody tr:hover{
  background-color: #83fff5;
  border-radius: 15%;
  opacity: 1;
}

img {
  border-radius: 3%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

#textarea1{
	width: 250px;
	height: 50px;
}

label {
  font-weight: bold;
}

#myModal{
	width: 500px;
	height: 300;

  background: rgba(80, 170, 170, 0.479);
  
  align-items: top;
  align-content: top;
  padding-top: 10%;
  position: fixed; /* Stay in place */
  
  
}

.modal-content{
  position: relative;
  height: 300;


}
.modal-dialog{

 

}
