section{
	margin: 0px auto;
	width: 450px;
	text-align: center;
	background: rgba(242, 242, 242, 0.6); 
	border-radius: 3%;
	padding: 1em;
}

input[type="button"] {
  padding: 12px;
  width: 150px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  margin-bottom: 8px;
}

.error-label {
  display: none;
  margin-top: 4px;
  color: red;
}

.field :focus:invalid  {
  border: 1px solid rgba(251, 40, 59, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(251, 40, 59, 0.5);
  outline: initial;
}

.field :focus:valid  {
  border: 1px solid rgba(46, 204, 113, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(46, 204, 113, 0.5);
  outline: initial;
}

label {
  font-weight: bold;
}

#appointmentsTable { width: 50% }
tbody tr:hover.selected td,
tbody tr:hover td {
    background-color: #88ffec;
    cursor: pointer;
}
tbody tr.selected td {
    background-color: #4096ff;
}

